include dtd/*.dtd
include docs/*.html
include docs/*.png
include docs/*.css
include docs/texml.1
include scripts/texml
include scripts/texml.py
include scripts/texml_local
include scripts/texml_local.bat
include tests/data/quick/*
include tests/Makefile
include tests/readme
recursive-include tests/data *.xml *.out
recursive-include tests/faildata *.xml *.out *.grep
include license.txt
include Thanks
include ChangeLog
